.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, .65) 50%, rgba(0, 0, 0, 1) 50%), linear-gradient(90deg, rgba(183, 0, 0, 0.6), rgba(0, 213, 0, 0.623), rgba(0, 0, 198, 0.6));
    z-index: -1;
    background-size: 100% 5px, 5px 90%;
    pointer-events: none;
}

img {
    z-index: 3
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }
    5% {
        opacity: 0.34769;
    }
    10% {
        opacity: 0.23604;
    }
    15% {
        opacity: 0.90626;
    }
    20% {
        opacity: 0.18128;
    }
    25% {
        opacity: 0.83891;
    }
    30% {
        opacity: 0.65583;
    }
    35% {
        opacity: 0.67807;
    }
    40% {
        opacity: 0.26559;
    }
    45% {
        opacity: 0.84693;
    }
    50% {
        opacity: 0.96019;
    }
    55% {
        opacity: 0.08594;
    }
    60% {
        opacity: 0.20313;
    }
    65% {
        opacity: 0.71988;
    }
    70% {
        opacity: 0.53455;
    }
    75% {
        opacity: 0.37288;
    }
    80% {
        opacity: 0.71428;
    }
    85% {
        opacity: 0.70419;
    }
    90% {
        opacity: 0.7003;
    }
    95% {
        opacity: 0.36108;
    }
    100% {
        opacity: 0.24387;
    }
}

.flicker::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(5, 8, 8, 0.05);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.05s infinite;
}

.container-fluid {
    text-align: center
}

.container-fluid .img-fluid {
    height: 100vh;
}

@keyframes textShadow2 {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(50, 74, 255, 0.85), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.85), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.85), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.85), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.85), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.85), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.85), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.85), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.85), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.85), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.85), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.85), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.85), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.85), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.85), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.85), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.85), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.85), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.85), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.85), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.85), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.63), 0 0 3px;
    }
}

strong {
    color: white;
}

.flicker h2,
.flicker .heading a {
    animation: textShadow2 2.6s infinite;
}

.crt h2,
.heading a {
    color: fuchsia !important;
    font-size: 1.5em;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: fuchsia; */
}

@media (min-width: 992px) {
    .crt .wrap .about-desc .bold-text {
        /* color: rgba(15, 8, 8, 0.45); */
        font-size: 10vh !important;
        margin-left: auto;
    }
}

.crt h5 {
    -webkit-text-stroke-width: 0px;
    color: white;
    font-size: 1em;
}

button {
    background-color: black;
    outline-color: fuchsia;
    color: fuchsia;
    border-radius: 2px;
    border-color: fuchsia;
    border: 2px;
}

button:hover {
    background-color: fuchsia;
    outline-color: fuchsia;
    color: black;
    border-radius: 2px;
    border-color: fuchsia;
    border: 2px;
}

@keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

// .meta strong:after {
//     content: attr(data-text);
//     position: absolute;
//     left: 2px;
//     text-shadow: -1px 0 red;
//     top: 0;
//     color: white;
//     background: black;
//     overflow: hidden;
//     clip: rect(0, 900px, 0, 0);
//     animation: noise-anim 2s infinite linear alternate-reverse;
//     // box-sizing: content-box;
// }
@keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

footer .btn.btn-primary.toggle-on {
    background-color: fuchsia
}

.toggle-handle {
    border-width: 0 3px;
    border-color: fuchsia;
    background-color: white;
    border-radius: 5px;
}